{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    
    <div class="container" style="margin-top: 100px;">
        <div class="row">
            <div class="col">
                <p>{{KanyeQuote}}</p>
            </div>
            <div class="col">
                <p>{{TrumpQuote}}</p>
            </div>
        </div>  

        <div class="row">
            <div class="col">
                <a href="{{path('Kanye')}}"><button type="button" class="btn btn-danger" value="Kanye" style="width: 200px;">Vote</button></a>
            </div>
            <div class="col">
                <a href="{{path('Trump')}}"><button type="button" class="btn btn-danger" value="Trump" style="width: 200px;">Vote</button></a>
            </div>
        </div>

    </div>
    <div class="container" style="margin-top: 100px;">
        <div class="row">
            <div class="col">
                <p>Kanye</p>
            </div>
            <div class="col text-end">
                <p>Trump</p>
            </div>
        </div>


            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>

    </div>
</div>
{% endblock %}
